.DS_Store
JacquardToolkitExample/.DS_Store
JacquardToolkitExample/JacquardToolkitExample.xcodeproj/xcuserdata/
JacquardToolkitExample/JacquardToolkitExample.xcworkspace/xcuserdata/
JacquardToolkitExample/Pods/Pods.xcodeproj/xcuserdata/
JacquardToolkitExample.xcodeproj/project.pbxproj